

body{
    padding :2vw;
    display:flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 70vw;
    height: 40vw;
    border: 0.001rem solid black;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Button{
    border : 0.001rem solid black;
}

.BigFont{
    font-size:1.1vw;
}

.SmallFont{
    font-size:0.8vw;
}

.MoreSmallFont{
    font-size:0.65vw;
}

.div {
    border: 0;
    height:40vw;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: repeat(20, 1fr);
}
.unitSort {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
}

.unitName {
    margin: 0;
    padding-left: 0.5vw;
    display: flex;
    align-items: center;
    float: left;
    box-sizing: border-box;
}
.Rate {
    border: 0.001rem solid black;
    align-items: center;
    display: flex;
    float: left;
    box-sizing: border-box;
}
.Count {
    border: 0.001rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.IMG {
    border: 0.001rem solid black;
    display: flex;
    align-items: center;
    float: left;
    box-sizing: border-box;
}


.TotalStun, .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
}


.clear {
    box-sizing: border-box;
}

.Bonus {
    border: 0.001rem solid black;
    padding : 0;
    margin : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.CheckBox-Stack {
    display: flex;
    justify-content: space-between; /* �ؽ�Ʈ ����, üũ�ڽ� ������ */
}